/* Import from Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Inconsolata', sans-serif;
    font-weight: 400;
    color: #1858b3;
}

header {
    display: flex;
    width: 100%;
    height: auto;
}

#logo {
    width: 20%;
    height: auto;
    justify-content: center;
    padding-bottom: 10px;
}

#header-about {
    width: 40%;
    padding-top: 40px;
    text-align: left;
    line-height: 25px;
}

#header-how {
    width: 40%;
    padding: 40px;
    text-align: left;
    line-height: 25px;
}
header span {
    font-weight: bold;
}