/* Import from Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Inconsolata', sans-serif;
    font-weight: 400;
    color: #1858b3;
}

header {
    display: flex;
    width: 100%;
    height: auto;
}

#logo {
    width: 20%;
    height: auto;
    justify-content: center;
    padding-bottom: 10px;
}

#header-about {
    width: 40%;
    padding-top: 40px;
    text-align: left;
    line-height: 25px;
}

#header-how {
    width: 40%;
    padding: 40px;
    text-align: left;
    line-height: 25px;
}
header span {
    font-weight: bold;
}

/* Styling of criteria section */

#user-input-area {
    display: flex;
}

#criteria-section {
    width: 30%;
    padding: 10px;
}

label {
    display: inline-block;
    width: 30%;
    text-align: right;
    margin-right: 10px;
}

input {
    border: #1858b3 solid 3px;
    float: right;
    width: 60%;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

input::placeholder {
color: #1859b39c;
}

#user-importance {
    width: 30%;
    padding: 10px;
}

#user-importance > input {
    width: 60%;
}

#option-one{
    width: 20%;
    padding: 10px;
}

#option-two{
    width: 20%;
    padding: 10px;
}

