/* Import from Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

/* general page code */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Inconsolata', sans-serif;
    font-weight: 400;
    color: #1858b3;
}

/* styling for header and  logo section, including modal styling for about and how to */

header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    justify-content: center;
}

#logo {
    width: 30%;
    height: auto;
    display: flex;
    justify-content: center;
}

#logo img {
    max-width: 100%;
    max-height: 100%;
}

#menu {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

#header-about,
#header-how {
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    text-decoration: underline;
    display: inline-block;
    padding: 3px;
}

#header-about-modal,
#header-how-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    background-color: #ffffff00;
    border-radius: 10px;
}

#about-modal-content,
#how-modal-content {
    background-color: #1858b3;
    width: auto;
    max-width: 100%;
    border: #7ea7df solid 3px;
    color: #fff;
    position: relative;
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 10px;
    word-wrap: break-word;
    white-space: normal;
    line-height: 1.2;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
}

#modal-close-about,
#modal-close-how {
    position: absolute;
    top: 1px;
    right: 3px;
    font-size: 1.7rem;
    cursor: pointer;
    color: #fff;
}

#header-about-modal {
    margin-bottom: 10px;
}

#header-how-modal {
    margin-top: 10px;
}

.s-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    background-color: #ffffff00;
    border-radius: 10px;
}

.s-modal-content {
    width: auto;
    max-width: 100%;
    background-color: #1858b3;
    border: #7ea7df solid 3px;
    color: #fff !important;
    position: relative;
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 10px;
    word-wrap: break-word;
    white-space: normal;
    overflow: visible;
    line-height: 1.2;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
}

.submit-close {
    position: absolute;
    top: 1px;
    right: 3px;
    font-size: 1.7rem;
    cursor: pointer;
    color: #fff;
}

.r-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    background-color: #ffffff00;
    border-radius: 10px;
}

.r-modal-content {
    width: auto;
    max-width: 100%;
    background-color: #1858b3;
    border: #7ea7df solid 3px;
    color: #fff !important;
    position: relative;
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 10px;
    word-wrap: break-word;
    white-space: normal;
    overflow: visible;
    line-height: 1.2;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
}

.random-close {
    position: absolute;
    top: 1px;
    right: 3px;
    font-size: 1.7rem;
    cursor: pointer;
    color: #fff;
}

.instruction-list {
    font-weight: bold;
}

.note {
    text-transform: uppercase;
}

/* Styling for whole area where user input is collected */

#user-input-area {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    flex-wrap: nowrap;
    max-width: 90%;
    margin: 0 auto;
}

h4 {
    margin: 0;
    text-align: center;
    justify-content: center;
    height: 25px;
    padding-top: 5px;
    font-size: 0.9rem;
}

/* Styling of criteria section */

#criteria-section,
#user-importance,
#user-options {
    width: 50%;
}

#criteria-section {
    display: inline-grid;
    width: 50%;
}

#criteria-section input {
    border: #1858b3 solid 3px;
    width: 100%;
    height: 20px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

/*styling for criteria importance section */

.importance-drop {
    border: #1858b3 solid 3px;
    color: #fff;
    background-color: #1858b3;
    width: 95%;
    border-radius: 5px;
    text-align: center;
    padding: 11px;
    margin-bottom: 11px;
    color: #fff;
}

#user-importance {
    width: 40%;
}

/* Styling for combined criteria definition and importance */
#criteria-w-importance {
    width: 90%;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
}

/* styling for user option area */

#definition-scoring {
    text-align: center;
    width: 100%;
}

.mandatory {
    color: #ff0000;
    font-size: 1rem;
    text-transform: lowercase;
}

#optional {
    color: #1858b3;
    font-size: 1rem;
    text-transform: lowercase;
}
}

.scoring-criteria {
    width: 100%;
    display: flex;
    text-align: center;
    align-content: stretch;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: center;
}

.user-options-one .option-label {
    text-transform: uppercase;
    font-size: 1.17em;
    font-weight: bold;
    color: #059ca4;
}

.user-options-two .option-label {
    text-transform: uppercase;
    font-size: 1.17em;
    font-weight: bold;
    color: #de5a22;
}

.user-options-three .option-label {
    text-transform: uppercase;
    font-size: 1.17em;
    font-weight: bold;
    color: #1a8812;
}

#user-options {
    display: flex;
    width: 55%;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
}

#data-one,
#data-two,
#data-three {
    display: inline-block;
    width: 30%;
    box-sizing: border-box;
}

.drop-option-one,
.drop-option-two,
.drop-option-three {
    width: 330%;

}

.drop-option-one {
    border: #059ca4 solid 3px;
    background-color: #059ca4;
    border-radius: 5px;
    text-align: center;
    padding: 11px;
    margin-bottom: 11px;
    color: #fff;
}



.drop-option-two {
    border: #de5a22 solid 3px;
    background-color: #de5a22;
    border-radius: 5px;
    text-align: center;
    padding: 11px;
    margin-bottom: 11px;
    color: #fff;
}


.drop-option-three {
    border: #1a8812 solid 3px;
    background-color: #1a8812;
    border-radius: 5px;
    text-align: center;
    padding: 11px;
    margin-bottom: 11px;
    color: #fff;
}

input::placeholder {
    color: #1859b39c;
}

#option-one,
#option-two,
#option-three {
    width: 33%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
}

.user-options-one input,
.user-options-two input,
.user-options-three input {
    border: none;
    width: 100%;
    height: 30px;
    text-align: center;
    height: 67px;
    outline: none;
}

.user-options-one input::placeholder {
    color: #059ca4;
    text-decoration: underline;
    content: "First line \A Second line"
}

.user-options-two input::placeholder {
    color: #de5a22;
    text-decoration: underline;
    content: "First line \A Second line"
}

.user-options-three input::placeholder {
    color: #1a8812;
    text-decoration: underline;
    content: "First line \A Second line"
}


/* styling for buttons and buttons area */

#buttons-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

#calculate {
    border: #1858b3 solid 3px;
    color: #ffffff;
    background-color: #1858b3;
    float: left;
    width: 175px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 82%;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 40px;
    font-weight: bold;
}

#calculate:hover {
    border: #1858b3 solid 3px;
    color: #1858b3;
    background-color: #ffffff;
}

#random {
    border: #474747 solid 3px;
    color: #ffffff;
    background-color: #474747;
    width: 175px;
    height: 40px;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    font-size: 82%;
    padding: 3px;
    margin-bottom: 10px;
    margin-top: 40px;
    margin-left: 40px;
    font-weight: bold;
}

#random:hover {
    border: #474747 solid 3px;
    color: #474747;
    background-color: #ffffff;
}

#print {
    border: #c2d5f6 solid 3px;
    color: #ffffff;
    background-color: #526291;
    float: right;
    width: 175px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 40px;
    margin-right: 40px;
    font-size: 82%;
    font-weight: bold;
}

#print:hover {
    border: #c2d5f6 solid 3px;
    color: #526291;
    background-color: #ffffff;
}

#reset {
    text-transform: uppercase;
    border: #ff0000 solid 3px;
    color: #ff0000;
    background-color: #ffff;
    width: 175px;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    margin-bottom: 10px;
    margin-top: 40px;
    margin-right: 40px;
    float: right;
    font-size: 82%;
    font-weight: bold;
}

#reset:hover {
    background-color: #ff0000;
    border: #ff0000 solid 3px;
    color: #ffffff;
}

#calculate-random {
    display: inline-flex;
    width: 50%;
    justify-content: space-evenly;
}

#reset-print {
    display: inline-flex;
    width: 50%;
    justify-content: space-evenly;
}

/* styling for tables header area */

.table-headers {
    height: 30px;
    margin-bottom: 20px;
    margin-top: 57px;
    max-width: 99%;
}

/*Styling for 404 page */

#all-404 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    padding: 20px;
    font-size: 1.2rem;
}

#logo-404 img {
    max-width: 100%;
    height: auto;
    width: 250px;
}

.link-home {
    text-decoration: none;
    text-transform: uppercase;
    color:#1a8812;
}

/* Display size optimization */

@media screen and (max-width: 1201px) {

    .user-options-one,
    .user-options-two,
    .user-options-three {
        width: 100%;
    }

    #calculate,
    #random,
    #print,
    #reset {
        font-size: 75%;
    }
}

@media screen and (max-width: 1031px) {

    #criteria-w-importance {
        width: 100%;
        text-align: center;
    }

    .drop-option-one,
    .drop-option-two,
    .drop-option-three {
        width: 332%;
    }

    .user-options-one,
    .user-options-two,
    .user-options-three {
        width: 100%;
    }


    #menu {
        margin-bottom: 10px;
    }

    #criteria-section,
    #user-importance {
    width: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    }

    #user-options {
        width: 100%;
        clear: both;
    }

    #user-input-area {
        flex-wrap: wrap;
    }

    h4 {
        margin-bottom: 52px;
    }

    #buttons-area {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: -20px;
        max-width: 90%;
        flex-direction: column;
    }

    #buttons-area {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: -20px;

    }

    #print {
        margin-top: 10px;
        margin-right: 0px;
    }

    #reset {
        margin-top: 10px;
    }
}

@media screen and (max-width: 800px) {

    .user-options-one,
    .user-options-two,
    .user-options-three {
        width: 100%;
    }

    h4 {
        height: 50px;
    }

    #criteria-section input {
        width: 90%
    }

    .table-headers {
        font-size: 0.85rem;
    }

}

@media screen and (max-width: 510px) {
    .importance-drop {
        width: 97%;
    }

    #criteria-section input {
        width: 85%;
    }

    .drop-option-one,
    .drop-option-two,
    .drop-option-three {
        width: 331%;
    }

    #user-options select {
        font-size: 0.8rem;
        white-space: pre-wrap;
        height: 41px;
        padding: 0;
    }

    .user-options-one input,
    .user-options-two input,
    .user-options-three input {
        height: 70px;
    }

    #about-modal-content,
    #how-modal-content {
        font-size: 0.85rem;
    }

    .r-modal-content {
        font-size: 0.85rem;
    }

    .s-modal-content {
        font-size: 0.85rem;
    }

}

@media screen and (max-width: 461px) {

    .user-options-one input,
    .user-options-two input,
    .user-options-three input {
        font-size: 0.7rem;
    }

    h4 {
        font-size: 0.8rem;
    }

    #user-options select {
        font-size: 0.8rem;
        white-space: pre-wrap;
        height: 41px;
        padding: 0;
    }

    h3 {
        font-size: 0.9rem;
    }

    .user-options-one .option-label {
        font-size: 0.9rem;
    }

    .user-options-two .option-label {
        font-size: 0.9rem;
    }

    .user-options-three .option-label {
        font-size: 0.9rem;
    }

    #calculate,
    #reset,
    #random,
    #print {
        width: 150px;
        font-size: 60%;
    }

    #buttons-area {
        margin-top: -60px;
    }

    #user-options select {
        font-size: 0.7rem;
    }
}

@media screen and (max-height: 660px) {

    #how-modal-content {
        height: 80%;
        overflow: auto;
        max-height: 300px;
    }
}

    @media screen and (max-height: 380px) {

        #how-modal-content {
            font-size: 0.95rem;
        }
    }